html { 
  scroll-behavior: smooth; 
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
	border: none;
}

p {
  color: #37474f;
  text-align: left;
  padding: 10px;
}

section {
  padding: 50px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ede7f6;
}

.nav-item {
  color: #b39ddb;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
  margin: 0px 20px;
}

.stick-to-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.big-header-main {
  color: #ede7f6;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}

.sub-header-main {
  color: #b9b0c2;
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;
}

.section-content {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.white {
  background-color: white;
}

.gray {
  background-color: #eeeeee;
}

.footer {
  background-color: #37474f;
}

.section-header {
  border-bottom: 3px solid #673ab7;
  color: #673ab7;
  padding: 10px;
  margin: 50px auto;
  font-size: 2.2rem;
  font-weight: bold;
  width: fit-content;
}

.skills {
  text-align: right;
  padding: 10px auto;
  color: white;
  background-color: #673ab7;
  padding: 5px;
}

.remove-top-spacing {
  margin-top: 0px;
  padding-top: 0px;;
}

.java {width: 90%;}
.cpp {width: 80%;}
.html {width: 70%;}
.css {width: 70%;}
.javascript {width: 50%;}
.python {width: 50%;}

.skill-full-bar {
  background-color: transparent;
  width: 100%;
  border: 2px solid #37474f;
}

.skill-label {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.2rem;
}

.work-item {
  border-radius: 20px;
  background-color: #ede7f6;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  min-height: fit-content;
  max-height: 200px;
}

.work-title-container {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 20px;
  width: 30%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #673ab7;
}

.work-title {
  text-align: center;
  color: #ede7f6;
  font-size: 1.5rem;
  margin: 10px;
}

.work-company {
  text-align: center;
  color: #b9b0c2;
  font-size: 1.3rem;
  margin: 10px;
}

.work-description {
  padding: 10px 20px;
}

.date {
  margin: 10px 20px;
  padding: 0px;
}

.white-button {
  color: #ede7f6;
  border-radius: 5px;
  border-style: solid;
  border-color: #ede7f6;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

a.white-button:hover {
  background-color: #ede7f6;
  color: #37474f;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin: 40px;
}

#selfie {
  padding: 20px;
  border-radius: 7px;
  width: 300px;
  height: 300px;
  border-bottom: 7px solid #673ab7;
  border-left: 7px solid #673ab7;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid #673ab7;;
  background-color: #37474f;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#nav-name {
  color: #ede7f6;
  font-size: 1.3rem;
  margin: 0px 10px;
}

#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#intro {
  height: 100vh;
  background-image: url(./static-files/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#about-me-content {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#bio-content {
  width: 500px;
  margin-right: 10px;
}

#skills-content {
  flex-grow: 1;
  margin-left: 10px;
  border-radius: 5px;
}

#work-button {
  border-width: 3px;;
  font-size: 1.5rem;
}

#resume-button {
  border-width: 1.5px;;
  font-size: 1.1rem;
}
