html { 
  scroll-behavior: smooth; 
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
	border: none;
}

p {
  color: #263238;
  text-align: left;
  padding: 10px;
}

form {
  width: 100%;
}

label {
  color: #263238;
  padding: 15px 0px;
}

select {
  color: #263238;
  padding: 3px;
  font-family: inherit;
}

input {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

section {
  padding: 50px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ede7f6;
}

.nav-item {
  color: #b39ddb;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
  margin: 0px 20px;
}

.big-header-main {
  color: #ede7f6;
  font-size: 7rem;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.sub-header-main {
  color: #9f8cb3;
  font-size: 7rem;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.mini-header-main {
  color: #b9b0c2;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

.section-content {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: #eeeeee;
}

.section-header {
  color: #673ab7;
  padding: 10px;
  margin: 50px auto 20px;
  font-size: 3rem;
  font-weight: bold;
  width: fit-content;
  position: relative;
}

.section-header span:before,
.section-header span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #673ab7;
  top: 50%;
  width: 50%;
}

.section-header span:before {
  right: 100%;
  margin-right: 15px;
}
.section-header span:after {
  left: 100%;
  margin-left: 15px;
}

.remove-top-spacing {
  margin-top: 0px;
  padding-top: 0px;
}

#about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.work-item {
  border-radius: 20px;
  background-color: #ede7f6;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  height: 180px;
}

.work-header {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 20px;
  width: 30%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #673ab7;
}

.work-title {
  text-align: center;
  color: #ede7f6;
  font-size: 1.5rem;
  margin: 10px;
}

.work-company {
  text-align: center;
  color: #b9b0c2;
  font-size: 1.3rem;
  margin: 10px;
}

.work-description {
  padding: 10px 20px;
}

.work-date {
  margin: 10px 20px;
  padding: 0px;
}

.white-button {
  color: #ede7f6;
  border: 1.5px solid #ede7f6;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
  font-size: 1.1rem;
  margin: 10px;
}

.white-button:hover:not(#portfolio-button) {
  background-color: #ede7f6;
  color: #263238;
}

.purple-button {
  color: #673ab7;
  border: 2px solid #673ab7;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
}

.purple-button:hover {
  background-color: #673ab7;
  color: #ede7f6;
}

.gray-button {
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
}

.gray-button:hover {
  background-color: #263238;
  color: #ede7f6;
  cursor: pointer;
}

.comment {
  list-style: none;
  color: #263238;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
  margin: 0px;
}

.comment-name {
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.comment-message {
  padding: 0px;
  margin: 0px;
}

.sort-down {
  content: url("/static-files/images/icons/sort-down.png");
}

.sort-up {
  content: url("/static-files/images/icons/sort-up.png");
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-delete {
  height: 20px;
  width: 20px;
  content: url("/static-files/images/icons/trash.png");
  cursor: pointer; 
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dot {
  height: 130px;
  width: 130px;
  background-color: blue;
  border-radius: 50%;
  margin: 10px;
  background-color: #9f8cb3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer {
  background-color: #263238;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin: 40px;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 100;
  background-color: #263238;
  height: 4rem;
}

#nav-name {
  color: #ede7f6;
  font-size: 1.3rem;
  margin: 0px 10px;
}

#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#portfolio-button-container { 
  width: 100%; 
  text-align: center;
  padding: 10px;
}

#intro {
  height: 100vh;
  background-color: #263238;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;;
}

#selfie {
  height: 35rem;
  border-radius: 4px;
  margin-bottom: -60px;
}

#selfie-container {
  background-color: #584a78;
  border-radius: 4px;
  padding: 35px;
  margin-bottom: 35px;
}

#bio { 
  text-align: center;
  padding: 50px;
  font-size: 1.4rem;
}

#bio p {
  text-align: right;
}

#work-button {
  margin-top: 10px;
  border-width: 3px;
  font-size: 1.5rem;
}

#resume-button {
  margin: 0px;
}

#comment-content {
  padding-top: 0px;
  max-width: 700px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

#comment-submit-btn {
  margin: 10px 0px;
}

#comment-submit-btn:hover { 
  cursor: pointer; 
}

#comment-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comment-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px;
}

#sort-icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: auto 5px;
  cursor: pointer;
}

#delete-all-button {
  float: right;
  margin: 0px;
  display: none;
}

.circle {
  position: absolute;
}

.circle-small {
  top: -7rem;
  left: -7rem;
}

#circle-image-small {
  height: 22rem;
  width: 22rem;
}

.circle-large {
  bottom: -16rem;
  right: -16rem;
}

#circle-image-large {
  height: 42rem;
  width: 42rem;
}

#intro-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

#intro-text {
  padding: 0px 15px;
  text-align: left;
  font-family: 'Inconsolata', monospace;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
}

.layer {
  background-color: #eee4ff;
  flex: 1;
}

#portfolio-arrow {
  height: 20px;
  vertical-align: middle;
  margin-left: 3px;
}

#portfolio-button {
  font-size: 1.5rem;
  border-width: 2px;
}
