html { 
  scroll-behavior: smooth; 
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background: none;
	border: none;
}

p {
  color: #263238;
  text-align: left;
  padding: 10px;
}

form {
  width: 100%;
}

label {
  color: #263238;
  padding: 15px 0px;
}

select {
  color: #263238;
  padding: 3px;
  font-family: inherit;
}

input {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 10px 0px;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

section {
  padding: 50px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ede7f6;
}

.nav-item {
  color: #b39ddb;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
  margin: 0px 20px;
}

.stick-to-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.big-header-main {
  color: #ede7f6;
  font-size: 3.5rem;
  margin: 0px;
  padding: 0px;
}

.sub-header-main {
  color: #b9b0c2;
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
}

.section-content {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.white-background {
  background-color: white;
}

.gray-background {
  background-color: #eeeeee;
}

.section-header {
  border-bottom: 3px solid #673ab7;
  color: #673ab7;
  padding: 10px;
  margin: 50px auto;
  font-size: 2.2rem;
  font-weight: bold;
  width: fit-content;
}

.remove-top-spacing {
  margin-top: 0px;
  padding-top: 0px;
}

.skillbar-outline {
  background-color: transparent;
  width: 100%;
  border: 2px solid #263238;
}

.skillbar {
  text-align: right;
  padding: 10px auto;
  color: white;
  background-color: #673ab7;
  padding: 5px;
}

.java-bar {width: 90%;}
.cpp-bar {width: 80%;}
.html-bar {width: 70%;}
.css-bar {width: 70%;}
.javascript-bar {width: 50%;}
.python-bar {width: 50%;}

.skill-label {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.2rem;
}

.work-item {
  border-radius: 20px;
  background-color: #ede7f6;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  height: 180px;
}

.work-header {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 20px;
  width: 30%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #673ab7;
}

.work-title {
  text-align: center;
  color: #ede7f6;
  font-size: 1.5rem;
  margin: 10px;
}

.work-company {
  text-align: center;
  color: #b9b0c2;
  font-size: 1.3rem;
  margin: 10px;
}

.work-description {
  padding: 10px 20px;
}

.work-date {
  margin: 10px 20px;
  padding: 0px;
}

.white-button {
  color: #ede7f6;
  border: 5px solid #ede7f6;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
}

.white-button:hover {
  background-color: #ede7f6;
  color: #263238;
}

.purple-button {
  color: #673ab7;
  border: 2px solid #673ab7;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
}

.purple-button:hover {
  background-color: #673ab7;
  color: #ede7f6;
}

.gray-button {
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: inline-block;
}

.gray-button:hover {
  background-color: #263238;
  color: #ede7f6;
  cursor: pointer;
}

.comment {
  list-style: none;
  color: #263238;
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
  margin: 0px;
}

.comment-name {
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.comment-message {
  padding: 0px;
  margin: 0px;
}

.sort-down {
  content: url("/static-files/images/icons/sort-down.png");
}

.sort-up {
  content: url("/static-files/images/icons/sort-up.png");
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-delete {
  height: 20px;
  width: 20px;
  content: url("/static-files/images/icons/trash.png");
  cursor: pointer; 
}

.footer {
  background-color: #263238;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin: 40px;
}

#selfie {
  padding: 20px;
  border-radius: 7px;
  width: 300px;
  height: 300px;
  border-bottom: 7px solid #673ab7;
  border-left: 7px solid #673ab7;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #263238; */
  background-color: transparent;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav-name {
  color: #ede7f6;
  font-size: 1.3rem;
  margin: 0px 10px;
}

#nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#intro {
  height: 100vh;
  background-color: #263238;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;;
}

#about-me-content {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#bio-content {
  width: 500px;
  margin-right: 10px;
}

#skills-content {
  flex-grow: 1;
  margin-left: 10px;
  border-radius: 5px;
}

#work-button {
  margin-top: 10px;
  border-width: 3px;
  font-size: 1.5rem;
}

#resume-button {
  border-width: 1.5px;
  font-size: 1.1rem;
}

#toggle-message-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#greeting-container {
  margin: 12px;
}

#comment-content {
  padding-top: 0px;
  max-width: 700px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

#comment-submit-btn {
  margin: 10px 0px;
}

#comment-submit-btn:hover { 
  cursor: pointer; 
}

#comment-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comment-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px;
}

#sort-icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: auto 5px;
  cursor: pointer;
}

#delete-all-button {
  float: right;
  margin: 0px;
  display: none;
}

.circle {
  position: absolute;
}

.circle-small {
  top: -7rem;
  left: -7rem;
}

#circle-image-small {
  height: 25rem;
  width: 25rem;
}

.circle-large {
  bottom: -12rem;
  right: -12rem;
}

#circle-image-large {
  height: 45rem;
  width: 45rem;
}

/* #programming-image-container {
  z-index: 50;
}

#programming-image {
  height: 30rem;
  width: 30rem;
} */

#intro-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

#intro-photo-container {
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 5px solid #673ab7;
  border-left: 5px solid #673ab7;
  z-index: 50;
}

#intro-photo {
  height: 30rem;
  width: 30rem;
}

#intro-text {
  border-bottom: 5px solid #673ab7;
  padding: 0px 15px;
  text-align: center;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
}

.layer {
  background-color: #eee4ff;
}

.layer-1 {
  flex: 1;
}

.layer-2 {
  flex: 1;
}

.layer-3 {
  flex: 1;
}
